.yt-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 10px 0px;
}

.form-control {
  background-color: #f2e9dc;
}

.input-group-addon {
  background-color: #E3DACC;
}

.yt-results {
  /*background-color: #f2e9dc;*/
  border-radius: 4px;
  padding: 15px;
  padding-left: 5px;
  padding-right: 5px;
  /*margin-bottom: 10px;*/
  /*margin: 5px;*/
}

.yt-item {
  background-color: #f2e9dc;
  padding: 15px 10px 0;
  display: block;
  color: #333;
  overflow: hidden;
}

.yt-item:hover {
  color: #333;
}

.yt-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
  font-size: 2vw;
  font-weight: bold;
}

@media (max-width: 768px) {
  .yt-title {
    font-size: 4vw;
  }
}

.yt-title:hover {
  text-decoration: underline;
}

.yt-thumbnail {
  max-width: 100%;
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.yt-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.yt-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.yt-item:last-child .yt-divider {
  border-bottom: none;
}

.yt-item:hover {
  background-color: #EBE1D3;
  cursor: pointer;
}

.yt-divider {
  padding-top: 15px;
  margin: auto;
  width: 90%;
  border-bottom: 1px solid gray;
}

.pag-cont {
  text-align: center;
}

.vid-pag span {
  border: 1px solid #EBE1D3;
  padding: 3px 20px;
  margin: 0px 5px 15px 5px;
}
